@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Sidebar style */
#sidebar {
    position: absolute;
    top: 0;
    left: -100%;
    width: 20%;
    height: 100vh;
    background-color: #9900cc;
    transition: left 1s ease;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

#sidebar.active {
    left: 0;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#overlay.active {
    opacity: 1;
    visibility: visible;
}

#sidebar .list-group-item {
    border: 1px solid #9900cc !important;
    color: white !important;
    background-color: transparent;
}

#sidebar .list-group-item:hover {
    border-color: none !important;
    background-color: rgba(153, 0, 204, 0.2); /* Tambahan efek hover lembut */
}

#sidebar .list-group-item i {
    color: white;
}

.spinner {
    width: 70px;
    height: 70px;
    margin: 100px auto;
    background-color: #9900CC;
  
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }